.fade-transition-enter-active {
  animation: fadeAnimation 0.3s ease-in-out;
}

.fade-transition-leave-active {
  animation: fadeAnimation 0.3s ease-in-out reverse;
}

@keyframes fadeAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.slide-right-transition-enter-active {
  animation: slideRightAnimation 0.4s ease-in-out;
}

.slide-right-transition-leave-active {
  animation: slideRightAnimation 0.4s ease-in-out reverse;
}

@keyframes slideRightAnimation {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.slide-top-transition-enter-active {
  animation: slideTopAnimation 0.4s ease-in-out;
}

.slide-top-transition-leave-active {
  animation: slideTopAnimation 0.4s ease-in-out reverse;
}

@keyframes slideTopAnimation {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* SLIDER */

.slider-left-transition-enter-active {
  animation: sliderLeftAnimationEnter 0.4s ease-in-out;
}

.slider-left-transition-leave-active {
  animation: sliderLeftAnimationLeave 0.4s ease-in-out;
}

@keyframes sliderLeftAnimationEnter {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes sliderLeftAnimationLeave {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.slider-right-transition-enter-active {
  animation: sliderRightAnimationEnter 0.4s ease-in-out;
}

.slider-right-transition-leave-active {
  animation: sliderRightAnimationLeave 0.4s ease-in-out;
}

@keyframes sliderRightAnimationEnter {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes sliderRightAnimationLeave {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

.toast-transition-enter-active {
  animation: toastAnimationEnter 0.3s ease-out;
}

.toast-transition-leave-active {
  animation: toastAnimationLeave 0.3s ease-out;
}

.slide-fade-enter-active {
  transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.3s ease;
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(40px);
  opacity: 0;
}

@keyframes toastAnimationEnter {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes toastAnimationLeave {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}

@keyframes opacityAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.opacityAnimaton {
  animation: 1.7s ease opacityAnimation;
}

@keyframes leftToRightAnimate {
  from {
    opacity: 0.3;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.leftToRightAnimation {
  animation: 1.5s ease leftToRightAnimate;
}

@keyframes rightToLeftAnimate {
  from {
    opacity: 0.3;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.rightToLeftAnimation {
  animation: 1.5s ease rightToLeftAnimate;
}

@keyframes topToBottomAnimate {
  from {
    opacity: 0.3;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.topToBottomAnimation {
  animation: 1.5s ease topToBottomAnimate;
}
